body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header {
    background-color: #FFFCFF;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border: 1px solid #DD8CDC;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    width: 8em;
}

nav .nav-links  {
    list-style: none;
    display: flex;
 
}
nav .login-list  {
    list-style: none;
    display: flex;
    padding:10px 0px ;
     border:1px solid black;
     border-radius: 100px;
    text-align: center;
}

nav li {
    padding: 4px 8px;

}

nav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}